<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/animate.css@3.5.2/animate.css"/>
    </head>
    <body class="tc bg-navy">
        <form class="pa3 black-80 georgia bg-white center mt6 br3" style="width:450px;" action="/submit" method="POST" enctype = "multipart/form-data">
            <span class="dib mb2 w-33 tl">FirstName:</span> <input class="dib w-60" type="text" name="firstname">
            <span class="dib mb2 w-33 tl">LastName:</span> <input class="dib w-60" type="text" name="lastname">
            <span class="dib mb2 w-33 tl">UserName:</span> <input class="dib w-60" type="text" name="username">
            <span class="dib mb2 w-33 tl">Email:</span> <input class="dib w-60" type="text" name="email">
            <span class="dib mb2 w-33 tl">Password:</span> <input class="dib w-60" type="password" name="password">
            <span class="dib mb2 w-33 tl">Confirm Password:</span> <input class="dib w-60" type="password" name="confirmpassword">
            <span class="dib mb2 w-33 tl">Profile Picture:</span> <input class="dib w-60" type="file" name="file">
            <input class="b mt2 ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Submit">

        </form>

    </body>
</html>